{% extends 'stores/base.html' %}
    
    {% block title %}
        Preffered Page
    {% endblock %}

   

    {% block top %}
        <h1>Preffered Stores List</h1>
    {% endblock %}
   
    {% block body %}
        <div class="container">
        <div class="row">
                {% for pstore in pstores %}
                <div class="col-4">
                    <div class="card border-dark mb-3" style="max-width: 20rem;">
                            <div class="card-header">{{ pstore.id }}</div>
                            <div class="card-body">
                              <h6 class="card-title">Store {{ pstore.name }}</h6>
                              <p class="card-text">Distance -> {{ pstore.distance }}</p>
                              <small><a href="store_id={{ store.id }}">Remove</a></small>
                            </div>
                    </div>
                </div> 
            {% endfor %}    
        </div>
        
        <div class="pagination" style="display:table;margin-right: auto;
        margin-left: auto;">
                <span class="step-links">
                    {% if pstores.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ pstores.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ pstores.number }} of {{ pstores.paginator.num_pages }}.
                    </span>
            
                    {% if pstores.has_next %}
                        <a href="?page={{ pstores.next_page_number }}">next</a>
                        <a href="?page={{ pstores.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <a href="{% url 'index' %}">Back to the main page</a>
        </div>
    {% endblock %}