{% extends 'stores/base.html' %}
    
    {% block title %}
        Preffered Page
    {% endblock %}

   

    {% block top %}
        <h1>Preffered Stores List</h1>
    {% endblock %}
   
    {% block body %}
        <div class="container">
        <div class="row">
                {% for pstore in pstores %}
                <div class="col-md-4" style="padding:10px;">
                    <div class="card border-dark mb-3">
                            <div class="card-header">{{ pstore.name }}</div>
                            <div class="card-body">
                                    <h5 class="card-title">{{ pstore.id }}</h5>
                                    <p class="card-text">{{ pstore }}</p>
                                    <p class="card-text"><small class="text-muted">{{ pstore.date }}</small></p>
                                    <small><a class="btn btn-danger btn-sm" href="store_id={{ pstore.id }}">Remove</a></small>
                            </div>
                    </div>
                </div> 
            {% endfor %}    
        </div>


        <div class="pagination" style="display:table;margin-right: auto;
        margin-left: auto;">
                <span class="step-links">
                    {% if pstores.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ pstores.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ pstores.number }} of {{ pstores.paginator.num_pages }}.
                    </span>
            
                    {% if pstores.has_next %}
                        <a href="?page={{ pstores.next_page_number }}">next</a>
                        <a href="?page={{ pstores.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <a href="{% url 'index' %}">Back to the main page</a>
        </div>
    {% endblock %}