body {
    font-size: 1em;
    background: rgb(255, 254, 254);
}	

h6 {
    color: #C71585;
    text-align: center;
}

.elm:hover, .elm:active, .elm:focus{
    background-color: #eee;
    transition: ease-in 0.3s;
}

.elm {
    cursor: default;
    transition: ease-in 0.3s;
}